/ProyectoJava/nbproject/private/
/ProyectoJava/dist/
/ProyectoJava/build/
/ProyectoJava/db.properties
ProyectoJava/db.properties
ProyectoJava/ticketstesa.log
ProyectoJava/db.properties
ProyectoJava/ticketstesa.log
