ProyectoJava/nbproject/
ProyectoJava/db.properties
ProyectoJava/dist/
ProyectoJava/build/
/ProyectoJava/nbproject/private/
/ProyectoJava/dist/
/ProyectoJava/build/
/ProyectoJava/db.properties
ProyectoJava/db.properties
ProyectoJava/ticketstesa.log
ProyectoJava/db.properties
ProyectoJava/ticketstesa.log
*.properties
ProyectoJava/ticketstesa.log
